@font-face {
	font-family: myriad;
	src: url(/app/fonts/myriad-set-pro_thin.ttf);
}

@font-face {
	font-family: myriad-md;
	src: url(/app/fonts/myriad-set-pro_medium.ttf);
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #f2f2f2;
	font-family: myriad;
}
.wrapper:after {
	display: table;
	content: " ";
	clear: both;
}
body-component {
	display: block;
	background: #ffffff;
	width: 90%;
	margin: auto;
	box-shadow: 0px 0px 4px #ccc;
}

header-component {
	position: relative;
	display: block;
	margin-bottom: 20px;
}

contacts-component:after {
	display: table;
	content: " ";
	clear: both;
}


code {
	background: #f2f2f2;
	padding: 12px;
	border: 1px solid #ccc;
	display: block;
	margin: 0;
	color: #4A4A4A;
	font-weight: lighter;
}

strong > em {
	color: #a30000;
	background: #f2f2f2;
	padding: 4px;
}

.blog-wrapper table {
	border-collapse: collapse;
}
.blog-wrapper td, .blog-wrapper th {
	border: 1px solid #c3c3c3;
	padding: 6px 25px;
}
.blog-wrapper th {
	background: #d5d5d5;
}
.blog-wrapper ul {
	margin-top: 0;
}
.blog-wrapper table tr:nth-child(even) {
	background: #f8f8f8;
}